<h1>List Restaurant</h1>

<ul>
  <% @restaurants.each do |restaurant| %>
  <li> <%=  link_to "#{restaurant.name}", restaurant_path(restaurant) %> |  <%= restaurant.category %> | <%= restaurant.address %> </li>
  <% end %>
</ul>

<%= link_to "Add a restaurant", new_restaurant_path %>

